		 
	  <div class="thumbcontent">
		<div class="container">
			<div class="thumbnail">
				<img src="{{ site.baseurl }}/images/pic_opentoonz.jpg"  width="300px" height="220px" alt="">
				<h2>Drawpile</h2>
			</div>
			<div class="thumbnail thumbnail-on">
					<a  href="{{ site.baseurl }}/apps/drawpile/" ><img src="{{ site.baseurl }}/images/pic_drawpile.jpg"  width="300px" height="220px" alt=""></a>
					<h2 >Synfig</h2>
  			</div>
			<div class="thumbnail thumbnail-on">
					<a  href="{{ site.baseurl }}/apps/synfig/" ><img src="{{ site.baseurl }}/images/pic_synfig.jpg"  width="300px" height="220px" alt=""></a>
					<h2 >Synfig</h2>
  			</div> 
			<div class="thumbnail thumbnail-on">
					<a  href="{{ site.baseurl }}/apps/inkscape/" ><img src="{{ site.baseurl }}/images/pic_inkscape.jpg"  width="300px" height="220px" alt=""></a>
					<h2 >Inkscape</h2>
  			</div> 
			<div class="thumbnail thumbnail-on">
					<a  href="{{ site.baseurl }}/apps/mypaint/" ><img src="{{ site.baseurl }}/images/pic_mypaint.jpg"  width="300px" height="220px" alt=""></a>
					<h2 >Mypaint</h2>
  			</div> 
			<div class="thumbnail thumbnail-on">
				    <a href="{{ site.baseurl }}{% unless page.lang == 'en' %}/{{ page.lang }}{% endunless %}/apps/krita">
					<img src="{{ site.baseurl }}/images/pic_krita.jpg"  width="300px" height="220px" alt=""></a>
					<h2 >Krita</h2>
			</div> 
			<div class="thumbnail thumbnail-on">
				    <a href="{{ site.baseurl }}{% unless page.lang == 'en' %}/{{ page.lang }}{% endunless %}/apps/gimp">
					<img src="{{ site.baseurl }}/images/pic_gimp.jpg"  width="300px" height="220px" alt=""></a>
					<h2 >Krita</h2>
		    </div>
		</div>
	</div>
