	  
		 
	  <div class="thumbcontent">
		<div class="container">
			<div class="thumbnail">
				<img src="{{ site.baseurl }}/images/pic_synfig.jpg"  width="300px" height="220px" alt="">
				<h2>Synfig</h2>
			</div>
			<div class="thumbnail thumbnail-on">
					<a  href="{{ site.baseurl }}/apps/inkscape/" ><img src="{{ site.baseurl }}/images/pic_mypaint.jpg"  width="300px" height="220px" alt=""></a>
					<h2 >Inkscape</h2>
  			</div> 
			<div class="thumbnail thumbnail-on">
					<a  href="{{ site.baseurl }}/apps/mypaint/" ><img src="{{ site.baseurl }}/images/pic_mypaint.jpg"  width="300px" height="220px" alt=""></a>
					<h2 >Mypaint</h2>
  			</div> 
			<div class="thumbnail thumbnail-on">
				{% if page.lang == "pt" %}
					<a href="{{site.baseurl }}/pt/apps/krita"><img src="{{ site.baseurl }}/images/pic_krita.jpg"  width="300px" height="220px" alt=""></a>
					<h2>Krita</h2>
				{% else site.lang == "en" %}
					<a  href="{{ site.baseurl }}/apps/krita" ><img src="{{ site.baseurl }}/images/pic_krita.jpg"  width="300px" height="220px" alt=""></a>
					<h2 >Krita</h2>
  				{% endif %}
			</div> 
			<div class="thumbnail thumbnail-on">
				{% if page.lang == "pt" %}
       					<a href="{{site.baseurl }}/pt/apps/gimp"><img src="{{ site.baseurl }}/images/pic_gimp.jpg"  width="300px" height="220px" alt=""></a>
					<h2 >GIMP</h2>
  				{% else site.lang == "en" %}
       					<a  href="{{ site.baseurl }}/apps/gimp" ><img src="{{ site.baseurl }}/images/pic_gimp.jpg"  width="300px" height="220px" alt=""></a>
					<h2 >GIMP</h2>
  				{% endif %}
		    </div> 	   
		</div>
	</div>
