	  
		 
		 <div class="container">
			<div class="thumbnail">
				<img src="{{ site.baseurl }}/images/pic_krita.jpg"  width="300px" height="220px" alt="">
				<h2>Krita</h2>
			</div> 
			<div class="thumbnail thumbnail-on">
				<a href="apps/gimp.html"><img src="{{ site.baseurl }}/images/pic_gimp.jpg"  width="300px" height="220px" alt=""></a>
				<h2 >GIMP</h2>
		    </div> 	   
		</div>
		 
		<cite>
			ASKey by <a href="http://andeons.com/pandora">Anderson Prado (AndeOn)</a>
		
		</cite>	 		 
