	  
<br />

<!-- Keyboard !-->
<div id="keyboard">
    	<ul class="cf">
	       	<li><a href="#ppkeyesc" class="key c27 fn" data-tooltip="{{ page.t[page.lang].l_tkeyesc }}"><span>esc</span></a></li>
        	<li><a href="#ppkeyf1" class="key c112 fn" data-tooltip="{{ page.t[page.lang].l_tkeyf1 }}"><span>F1</span></a></li>
        	<li><a href="#" class="nokey c113 fn"><span>F2</span></a></li>
        	<li><a href="#" class="nokey c114 fn"><span>F3</span></a></li>
        	<li><a href="#" class="key c115 fn"><span>F4</span></a></li>
        	<li><a href="#" class="key c116 fn"><span>F5</span></a></li>
        	<li><a href="#" class="key c117 fn"><span>F6</span></a></li>
        	<li><a href="#" class="nokey c118 fn"><span>F7</span></a></li>
        	<li><a href="#" class="nokey c119 fn"><span>F8</span></a></li>
        	<li><a href="#" class="nokey c120 fn"><span>F9</span></a></li>
        	<li><a href="#" class="nokey c121 fn"><span>F10</span></a></li>
        	<li><a href="#" class="nokey c122 fn"><span>F11</span></a></li>
        	<li><a href="#" class="nokey c123 fn"><span>F12</span></a></li>
        	<li><a href="#" class="nokey fn"><span>Scroll</span></a></li>
		<li><a href="#" class="nokey c19 fn"><span>Pause</span></a></li>
		<li><a href="#ppkeyins" class="key c18 fn" data-tooltip="{{ page.t[page.lang].l_tkeyins }}"><span>Insert</span></a></li>
		<li><a href="#ppkeydel" class="key c46 fn" data-tooltip="{{ page.t[page.lang].l_tkeydel }}"><span>Delete</span></a></li>
        </ul>
		
    	<ul class="cf" id="numbers">
	    	<li><a href="#" class="nokey c192"><b>~</b><span>`</span></a></li>
	    	<li><a href="#ppkey1" class="key c49" data-tooltip="{{ page.t[page.lang].l_tkey1}}"><b>!</b><span>1</span></a></li>
	    	<li><a href="#" class="nokey c50"><b>@</b><span>2</span></a></li>
	    	<li><a href="#" class="nokey c51"><b>#</b><span>3</span></a></li>
	    	<li><a href="#ppkey4" class="key c52" data-tooltip="{{ page.t[page.lang].l_tkey4}}"><b>$</b><span>4</span></a></li>
	    	<li><a href="#ppkey5" class="key c53" data-tooltip="{{ page.t[page.lang].l_tkey5}}"><b>%</b><span>5</span></a></li>
	    	<li><a href="#ppkey6" class="key c54" data-tooltip="{{ page.t[page.lang].l_tkey6}}"><b>^</b><span>6</span></a></li>
	    	<li><a href="#" class="nokey c55"><b>&amp;</b><span>7</span></a></li>
	    	<li><a href="#" class="nokey c56"><b>*</b><span>8</span></a></li>
	    	<li><a href="#" class="nokey c57"><b>(</b><span>9</span></a></li>
	    	<li><a href="#" class="nokey c48"><b>)</b><span>0</span></a></li>
	    	<li><a href="#ppkeyminus" class="key c189 alt" data-tooltip="{{ page.t[page.lang].l_tkeyminus }}"><b>_</b><span>-</span></a></li>
	    	<li><a href="#ppkeyplus" class="key c187" data-tooltip="{{ page.t[page.lang].l_tkeyplus }}"><b>+</b><span>=</span></a></li>
	    	<li><a href="#ppkeyback" class="nokey c46" id="backspace"><span>BackSpace</span></a></li>
	    	<li><a href="#" class="nokey c36" id="home"><span>Home</span></a></li>	
        </ul>
		
    	<ul class="cf" id="qwerty">
	    	<li><a href="#ppkeytab" class="key c9" id="tab" data-tooltip="{{ page.t[page.lang].l_tkeytab }}"><span>tab</span></a></li>
	    	<li><a href="#ppkeyq" class="key c81" data-tooltip="{{ page.t[page.lang].l_tkeyq }}"><span>q</span></a></li>
	    	<li><a href="#ppkeyw" class="key c87" data-tooltip="{{ page.t[page.lang].l_tkeyw }}"><span>w</span></a></li>
	    	<li><a href="#ppkeye" class="key c69" data-tooltip="{{ page.t[page.lang].l_tkeye }}"><span>e</span></a></li>
	    	<li><a href="#ppkeyr" class="key c82" data-tooltip="{{ page.t[page.lang].l_tkeyr }}"><span>r</span></a></li>
	    	<li><a href="#ppkeyt" class="key c84" data-tooltip="{{ page.t[page.lang].l_tkeyt }}"><span>t</span></a></li>
	    	<li><a href="#ppkeyy" class="key c89"><span>y</span></a></li>
	    	<li><a href="#ppkeyu" class="key c85"><span>u</span></a></li>
	    	<li><a href="#ppkeyi" class="key c73" data-tooltip="{{ page.t[page.lang].l_tkeyi }}"><span>i</span></a></li>
	    	<li><a href="#ppkeyo" class="key c79" data-tooltip="{{ page.t[page.lang].l_tkeyo }}"><span>o</span></a></li>
	    	<li><a href="#ppkeyp" class="key c80" data-tooltip="{{ page.t[page.lang].l_tkeyp }}"><span>p</span></a></li>
	    	<li><a href="#ppobracket" class="key c219 alt" data-tooltip="{{ page.t[page.lang].l_tkeyobracket }}"><b>{</b><span>[</span></a></li>
	    	<li><a href="#cbracket" class="nokey c221 alt" data-tooltip="{{ page.t[page.lang].l_tkeycbracket }}"><b>}</b><span>]</span></a></li>
	    	<li><a href="#ppkeyslash" class="key c220 alt" data-tooltip="{{ page.t[page.lang].l_tkeyslash }}">><b>|</b><span>\</span></a></li>
		<li><a href="#ppkeypgup" class="key c33 pgup" data-tooltip="{{ page.t[page.lang].l_tkeypgup }}"><span>PgUp</span></a></li>		
        </ul>
		
        <ul class="cf" id="asdfg">
	    	<li><a href="#" class="nokey c20 alt" id="caps"><b></b><span>caps lock</span></a></li>
	    	<li><a href="#ppkeya" class="key c65"><span>a</span></a></li>
	    	<li><a href="#ppkeys" class="key c83"><span>s</span></a></li>
	    	<li><a href="#ppkeyd" class="key c68" data-tooltip="{{ page.t[page.lang].l_tkeyd }}"><span>d</span></a></li>
	    	<li><a href="#ppkeyf" class="key c70"><span>f</span></a></li>
	    	<li><a href="#ppkeyg" class="key c71" data-tooltip="{{ page.t[page.lang].l_tkeyg }}"><span>g</span></a></li>
	    	<li><a href="#ppkeyh" class="key c72" data-tooltip="{{ page.t[page.lang].l_tkeyh }}"><span>h</span></a></li>
	    	<li><a href="#ppkeyj" class="key c74" data-tooltip="{{ page.t[page.lang].l_tkeyj }}"><span>j</span></a></li>
	    	<li><a href="#ppkeyk" class="key c75" data-tooltip="{{ page.t[page.lang].l_tkeyk }}"><span>k</span></a></li>
	    	<li><a href="#ppkeyl" class="key c76" data-tooltip="{{ page.t[page.lang].l_tkeyl }}"><span>l</span></a></li>
	    	<li><a href="#" class="nokey c186 alt" ><b>:</b><span>;</span></a></li>
	    	<li><a href="#" class="nokey c222 alt"><b>"</b><span>'</span></a></li>
	    	<li><a href="#" class="nokey c13 alt enter" id="enter"><span>enter</span></a></li>
		<li><a href="#ppkeypgdn" class="key c34 pgdn" data-tooltip="{{ page.t[page.lang].l_tkeypgdn}}"><span>PgDn</span></a></li>		
        </ul>
		
        <ul class="cf" id="zxcvb">
	    	<li><a href="#" class="nokey c16 shiftleft"><span>Shift</span></a></li>
	    	<li><a href="#ppkeyz" class="key c90" data-tooltip="{{ page.t[page.lang].l_tkeyz }}"><span>z</span></a></li>
	    	<li><a href="#ppkeyx" class="key c88" data-tooltip="{{ page.t[page.lang].l_tkeyx }}"><span>x</span></a></li>
	    	<li><a href="#ppkeyc" class="key c67" data-tooltip="{{ page.t[page.lang].l_tkeyc }}"><span>c</span></a></li>
	    	<li><a href="#ppkeyv" class="key c86"><span>v</span></a></li>
	    	<li><a href="#ppkeyb" class="key c66" data-tooltip="{{ page.t[page.lang].l_tkeyb }}"><span>b</span></a></li>
	    	<li><a href="#ppkeyn" class="key c78" data-tooltip="{{ page.t[page.lang].l_tkeyn }}"><span>n</span></a></li>
	    	<li><a href="#ppkeym" class="key c77" data-tooltip="{{ page.t[page.lang].l_tkeym }}"><span>m</span></a></li>
	    	<li><a href="#ppkeycomma" class="key c188 alt" data-tooltip="{{ page.t[page.lang].l_tkeycomma }}"><b>&lt;</b><span>,</span></a></li>
	    	<li><a href="#ppkeydot" class="key c190 alt" data-tooltip="{{ page.t[page.lang].l_tkeydot }}"><b>&gt;</b><span>.</span></a></li>
	    	<li><a href="#" class="nokey c191 alt" data-tooltip="{{ page.t[page.lang].l_tkeyslash }}"><b>?</b><span>/</span></a></li>
	    	<li><a href="#" class="nokey C16 shiftright"><span>Shift</span></a></li>
		<li><a href="#" class="nokey c38" id="up"><span><img src="{{ site.baseurl }}/images/up.png"></span></a></li>
		<li><a href="#" class="nokey c35 end"><span>End</span></a></li>
        </ul>
		
		<ul class="cf" id="bottomrow">
		<li><a href="#" class="nokey c17" id="control"><span>Ctrl</span></a></li>
	    	<li><a href="#" class="nokey" id="fn"><span>fn</span></a></li>
	    	<li><a href="#" class="nokey super" id="super"><span><img src="{{ site.baseurl }}/images/super-key.png"></span></a></li>
	    	<li><a href="#" class="nokey altkey" id="altkeyleft"><span>Alt</span></a></li>
	    	<li><a href="#" class="nokey c32" id="spacebar"></a></li>
	    	<li><a href="#" class="nokey altkey" id="altkeyright"><span>AltGr</span></a></li>
	    	<li><a href="#" class="nokey c17 ctrl" id="ctrlright"><span>Ctrl</span></a></li>
                <li><a href="#" class="nokey c37" id="left"><span><img src="{{ site.baseurl }}/images/left.png"></span></a></li>
		<li><a href="#" class="nokey c40" id="down"><span><img src="{{ site.baseurl }}/images/down.png"></span></a></li>
		<li><a href="#" class="nokey c39" id="right"><span><img src="{{ site.baseurl }}/images/right.png"></span></a></li>
        </ul>
    </div>
<!-- End Keyboard !-->    


<!-- Tooltip popup fn and etc!-->
<div id="ppkeyesc" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
			<a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyesc }}	
					</table>		
				</div>
		</div>
</div>
<div id="ppkeyf1" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
			<a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyf1 }}
					</table>		
				</div>
		</div>
</div>
<div id="ppkeyf10" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
			<a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyf10 }}
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyf11" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
			<a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyf11}}
					</table>		
				</div>
		</div>
</div>
<div id="ppkeydel" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
			<a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keydel }}			
					</table>						
				</div>
		</div>
</div>

<div id="ppkey1" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_key01 }}				
					</table>	
				</div>
		</div>
</div>

<div id="ppkeyminus" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyminus }}				
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyplus" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyplus }}					
					</table>	
				</div>
		</div>
</div>

<div id="ppkeytab" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keytab }}
					</table>	
				</div>
		</div>
</div> 

<div id="ppkeyhome" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyhome }}					
					</table>	
				</div>
		</div>
</div>
<div id="ppkeypgup" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keypgup }}					
					</table>	
				</div>
		</div>
</div>
<div id="ppkeypgdn" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keypgdn }}		
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyend" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyend }}					
					</table>	
				</div>
		</div>
</div>

<div id="ppkeycomma" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keycomma }}					
					</table>	
				</div>
		</div>
</div>

<div id="ppkeydot" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keydot }}					
					</table>	
				</div>
		</div>
</div>

<div id="ppkeysemicolon" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keysemicolon }}
					</table>	
				</div>
		</div>
</div>

<!-- Popup QWERTY!-->

<div id="ppkeyq" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyq }}	
					</table>	
				</div>
		</div>
</div> 
<div id="ppkeyw" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyw }}	
					</table>	
				</div>
		</div>
</div> 
<div id="ppkeye" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keye }}
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyr" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyr }}
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyt" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyt }}		
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyy" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyy }}	
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyu" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
					{{ site.t.l_thc[page.lang] }}
					{{ page.t[page.lang].l_keyu }}	
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyi" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyi }}
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyo" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyo }}	
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyp" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyp }}					
					</table>	
				</div>
		</div>
</div>
<!-- popup ASDFG!-->
<div id="ppkeya" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keya }}
					</table>	
				</div>
		</div>
</div>
<div id="ppkeys" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keys }}				
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyd" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyd }}				
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyf" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyf }}			
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyg" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyg }}			
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyh" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyh }}					
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyj" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyj }}
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyk" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyk }}			
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyl" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyl }}			
					</table>	
				</div>
		</div>
</div>
<!-- popup ZXCVB !-->
<div id="ppkeyz" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyz }}				
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyx" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyx }}				
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyc" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyc }}
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyv" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyv }}	
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyb" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyb }}
					</table>	
				</div>
		</div>
</div>
<div id="ppkeyn" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keyn }}
					</table>	
				</div>
		</div>
</div>
<div id="ppkeym" class="overlay">
		<div class="popup">
			<h2>{{ site.t.l_popupt[page.lang] }}</h2>
	        <a class="close" href="#" onclick="history.back(); return false;">×</a>
				<div class="content">
					<table class="tftable" border="1">
						{{ site.t.l_thc[page.lang] }}
						{{ page.t[page.lang].l_keym }}
					</table>	
				</div>
		</div>
</div>



<!-- About popup !-->   

<div id="about" class="overlay">
    <div class="popup">
        <h2>{{ page.t[page.lang].l_titleabout }}</h2>
        <a class="close" href="#" onclick="history.back(); return false;">×</a>
        	<div class="content">
		{{ page.t[page.lang].l_descabout }}
       </div>
    </div>
</div>



<div class="box">
    <a class="button" href="#about">{{ page.t[page.lang].l_buttonabout }}</a>
</div>


